.friend-list .item{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 200px;
    gap:10px;
    padding-left: 20px;
    border: 1px solid rgb(207, 207, 207);
}
.friend-list .statusOn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(5, 151, 0);
}
.friend-list .statusOff{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}
.friend-list .avatar{
    width: 50px;
    margin:10px;
    border-radius: 10px;
}
.friend-list .name{
    font-weight: 400;
}