.statistics{
    width: 300px;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    text-transform: uppercase;
    padding: 20px;
    margin: 10px 0 0 0;
    font-size: 15px;
    color: rgb(128, 128, 128);
}
.stat-list{
    display: flex;
    list-style: none;
    margin: 0;
    width: 100%;
    padding-left: 0;
}
.stat-list .item{
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 25%;
}
.label{
    color:white;
    font-size: 10px;
}